/*generic styles*/
body {
	padding-bottom: 5%;
	background-color: rgba(241, 240, 240, 0.71);
}

a:hover {
	text-decoration: none;
}

/*navbar settings*/
.navbar-search .search-query {
	font-size: 14px;
	line-height: inherit;
	/*width is 278 to accomodate for 4 icons of roughly 70px*/
	width: 278px !important; 
}

.navbar-search {
	float: none;
}

/*logo stylings*/
.subtext {
	color: gray;
}

.app-name a {
	color: green; 
	text-decoration: none;
	min-height: 10em;
    display: table-cell;
    vertical-align: middle;
	padding-top: 18px;
	line-height: 52px;
	font-size: 42px;
}

.orange {
	color: #e78b24;
}

.nav-name a {
	color: white;
	text-decoration: none;
}

.navbar-inner {
	border: 0px;
	padding-bottom: 1%;
	padding-left: 5%;
	border-bottom: 1px solid #d4d4d4;
	background-color: rgb(253, 253, 253);
	background-image: none;
}

/*menu icons*/
.menu-icons {
	float: right;
	margin-top: 20px;
	text-decoration: none;
}

.menu-icons a:hover {
	color: transparent;
	text-decoration: none;
}

.search-icons {
	float: right;
	text-decoration: none;
}

.option-btn {
	padding: 0px;
	border: 0px;
	margin: 0px;
}

/*main page stylings*/
.container {
	margin-left: auto;
	margin-right: auto;
}

#bookmarks .table {
	border: 1px solid #d4d4d4;
	background-color: rgb(253, 253, 253);
	table-layout: fixed;
}

#bookmarks .table td {
	padding: 10px 14px 10px 14px;
}

/*highlighting effects when hovering over buttons*/
.tint {  
    position: relative;  
    cursor: pointer;  
	display: inline-block;
}  
  
.tint:before {  
    content: "";  
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    background: rgba(255,255,255, 0.4);  
    -moz-transition: background .3s linear;  
    -webkit-transition: background .3s linear;  
    -ms-transition: background .3s linear;  
    -o-transition: background .3s linear;  
    transition: background .3s linear;  
}  
  
.tint:hover:before {  
    background: rgba(255,255,255, 0.1);   
}

.sitelink {
	word-wrap: break-word;
}


/*icon font size*/
.big-font {
	font-size: 58px;
}

.square {
	text-align: center;
	width: 66.5px;
	height: 66.5px;
}

/*responsive sizing*/
@media (min-width: 979px) {
	#bookmarks table {
		margin-top: 195px;
	}
}