body {
	padding-bottom: 5%;
	background-color: rgba(241, 240, 240, 0.71);
}

.media {
	overflow: visible;
}

.media-body {
	overflow: visible;
}


.subtext {
	color: gray;
}

.app-name a {
	color: black; 
	text-decoration: none;
	min-height: 10em;
    display: table-cell;
    vertical-align: middle;
	padding-top: 20px;
	line-height: 52px;
	font-size: 42px;
}

.nav-name a {
	color: white;
	text-decoration: none;
}

.navbar-inner {
	border: 0px;
	padding-bottom: 1%;
	padding-left: 5%;
	border-bottom: 1px solid #d4d4d4;
	background-color: rgb(253, 253, 253);
}

.menu-icons {
	float: right;
	margin-top: 20px;
	text-decoration: none;
}

.menu-icons a:hover {
	color: transparent;
	text-decoration: none;
}

.search-icons {
	float: right;
	text-decoration: none;
}

.option-btn {
	padding: 0px;
	border: 0px;
	margin: 0px;
}

.container {
	margin-left: auto;
	margin-right: auto;
}

#bookmarks .table {
	border: 1px solid #d4d4d4;
	background-color: rgb(253, 253, 253);
	table-layout: fixed;
}

#bookmarks .table td {
	padding: 10px 14px 10px 14px;
}

.tint {  
    position: relative;  
    cursor: pointer;  
	display: inline-block;  
}  
  
.tint:before {  
    content: "";  
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    background: rgba(255,255,255, 0.4);  
    -moz-transition: background .3s linear;  
    -webkit-transition: background .3s linear;  
    -ms-transition: background .3s linear;  
    -o-transition: background .3s linear;  
    transition: background .3s linear;  
}  
  
.tint:hover:before {  
    background: rgba(255,255,255, 0.1);   
}

.default-newtab {
	position: fixed;
	bottom: 0px;
	right: 0px;
	border: 0px;
}

.sitelink {
	word-wrap: break-word;
}

@media (min-width: 979px) {
	#bookmarks table {
		margin-top: 165px;
	}
}