body {
	padding-bottom: 5%;
}

.media {
	overflow: visible;
}

.media-body {
	overflow: visible;
}

.media-list {
	margin-left: 5%;
	margin-right: 5%;
	list-style: decimal;
}

.subtext {
	color: gray;
}

.app-name a {
	color: black; 
	text-decoration: none;
}

.option-buttons {
	display: inline;
	text-align: right;
	padding: 10px;
}